@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
}

:root {
  --app-height: 100%;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

.page-wrap {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 450px;
  margin: auto;
  background: #ECEFF6;
}

.page-wrap .header {
  padding: 20px;
  height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
}

.page-wrap .header .logo {
  max-width: 96px;
}

.page-wrap .header .logo img {
  max-width: 100%;
}

.page-wrap .top-text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #7D828B;
  border-bottom: 2px solid #9DCC8F;
  background: #FFFFFF;
}

.page-wrap .green-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #6AAC45;
  padding-top: 18px;
}

.page-wrap .content {
  padding-left: 25px;
  padding-right: 25px;
  background: #FFFFFF;
}

.page-wrap .question {
  padding-top: 28px;
  padding-bottom: 22px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #1B1F27;
}

.page-wrap .form-wrapper {
  padding: 25px;
  background: #ECEFF6;
}

.page-wrap .form-wrapper .diapason-answer .top-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.page-wrap .form-wrapper .diapason-answer .top-label span {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ABABAB;
  width: 35px;
  text-align: center;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.page-wrap .form-wrapper .diapason-answer .top-label span.hidden {
  opacity: 0;
}

.page-wrap .form-wrapper .diapason-answer .diapason {
  width: 100%;
  height: 40px;
  position: relative;
}

.page-wrap .form-wrapper .diapason-answer .diapason .value {
  position: absolute;
  top: -33px;
  width: 34px;
  height: 34px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #6AAC45;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.page-wrap .form-wrapper .diapason-answer .diapason .label {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  top: 2px;
  left: 0px;
  z-index: 5;
  pointer-events: none;
  background: #6AAC45;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.page-wrap .form-wrapper .diapason-answer .diapason .label.active {
  overflow: initial;
}

.page-wrap .form-wrapper .diapason-answer .diapason .label::before {
  content: "";
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 34px;
  background: url(./../img/green-circle.svg);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-wrap .form-wrapper .diapason-answer .diapason .label .arrows {
  position: relative;
  z-index: 10;
  width: 16px;
  height: 10px;
  background: url(./../img/white-arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-wrap .form-wrapper .diapason-answer .diapason .input-box {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.page-wrap .form-wrapper .diapason-answer .diapason .input-box .input-range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  overflow: hidden;
  height: 35px;
  background: transparent;
  outline: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  z-index: 10;
  border-radius: 50%;
}

.page-wrap .form-wrapper .diapason-answer .diapason .input-box .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 35px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.page-wrap .form-wrapper .diapason-answer .diapason .input-box .input-range::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.page-wrap .form-wrapper .diapason-answer .diapason .input-box .bar {
  position: absolute;
  top: 17px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 2px;
  background: rgba(171, 171, 171, 0.2);
  border-radius: 10px;
  z-index: 1;
}

.page-wrap .form-wrapper .diapason-answer .diapason .input-box .bar-filled {
  position: absolute;
  top: 17px;
  left: 0px;
  right: 0px;
  width: 0%;
  height: 4px;
  background: #6AAC45;
  z-index: 2;
  -webkit-transition: width 0.1s ease-in;
  -o-transition: width 0.1s ease-in;
  transition: width 0.1s ease-in;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.page-wrap .form-wrapper .label-descr {
  padding-top: 25px;
  padding-bottom: 28px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #7D828B;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label {
  max-width: 100%;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label input[type=radio] {
  display: none;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label .digit {
  border: 1.5px solid #EC6D16;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1B1F27;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(1) input[type=radio]:checked ~ .digit {
  background: #A23429;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(1) .digit {
  border-color: #A23429;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(2) input[type=radio]:checked ~ .digit {
  background: #A23429;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(2) .digit {
  border-color: #A23429;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(3) input[type=radio]:checked ~ .digit {
  background: #C1392B;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(3) .digit {
  border-color: #C1392B;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(4) input[type=radio]:checked ~ .digit {
  background: #D1461B;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(4) .digit {
  border-color: #D1461B;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(5) input[type=radio]:checked ~ .digit {
  background: #EC6D16;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(5) .digit {
  border-color: #EC6D16;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(6) input[type=radio]:checked ~ .digit {
  background: #FEA016;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(6) .digit {
  border-color: #FEA016;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(7) input[type=radio]:checked ~ .digit {
  background: #EBEB1F;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(7) .digit {
  border-color: #EBEB1F;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(8) input[type=radio]:checked ~ .digit {
  background: #5AD45A;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(8) .digit {
  border-color: #5AD45A;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(9) input[type=radio]:checked ~ .digit {
  background: #25C07C;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(9) .digit {
  border-color: #25C07C;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(10) input[type=radio]:checked ~ .digit {
  background: #2C9C2C;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(10) .digit {
  border-color: #2C9C2C;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(11) input[type=radio]:checked ~ .digit {
  background: #167F22;
  color: #FFFFFF;
}

.page-wrap .form-wrapper .scale-answer .scale-wrap label:nth-child(11) .digit {
  border-color: #167F22;
}

.page-wrap .form-wrapper .comment-answer {
  border-top: 2px solid rgba(157, 204, 143, 0.4);
  padding-top: 25px;
  display: none;
}

.page-wrap .form-wrapper .comment-answer .comment-block {
  -webkit-box-shadow: 0px 6px 24px 3px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 24px 3px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.page-wrap .form-wrapper .comment-answer .comment-block .question {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #1B1F27;
  background: #FFFFFF;
}

.page-wrap .form-wrapper .comment-answer .comment-block .comment-wrap {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.page-wrap .form-wrapper .comment-answer .comment-block .comment-wrap textarea {
  border: none;
  padding: 12px 18px;
  background: #EEF7EA;
  height: 120px;
  width: 100%;
  resize: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.page-wrap .form-wrapper .comment-answer .comment-block .comment-wrap textarea::-webkit-input-placeholder {
  color: #A8CCAB;
}

.page-wrap .form-wrapper .comment-answer .comment-block .comment-wrap textarea::-moz-placeholder {
  color: #A8CCAB;
}

.page-wrap .form-wrapper .comment-answer .comment-block .comment-wrap textarea:-ms-input-placeholder {
  color: #A8CCAB;
}

.page-wrap .form-wrapper .comment-answer .comment-block .comment-wrap textarea::-ms-input-placeholder {
  color: #A8CCAB;
}

.page-wrap .form-wrapper .comment-answer .comment-block .comment-wrap textarea::placeholder {
  color: #A8CCAB;
}

.page-wrap .form-wrapper .btn-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 37px;
}

.page-wrap .form-wrapper .btn-cont .btn-submit {
  display: block;
  border: none;
  outline: none;
  border-radius: 32px;
  padding: 15px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#ABABAB), color-stop(40%, #ABABAB), color-stop(60%, #6AAC45), to(#6AAC45));
  background: -webkit-linear-gradient(left, #ABABAB 0%, #ABABAB 40%, #6AAC45 60%, #6AAC45 100%);
  background: -o-linear-gradient(left, #ABABAB 0%, #ABABAB 40%, #6AAC45 60%, #6AAC45 100%);
  background: linear-gradient(90deg, #ABABAB 0%, #ABABAB 40%, #6AAC45 60%, #6AAC45 100%);
  background-position: left;
  -webkit-background-size: 300% 300%;
          background-size: 300%;
  pointer-events: none;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.page-wrap .form-wrapper .btn-cont .btn-submit.active {
  pointer-events: all;
  background-position: right;
}

.page-wrap .thanks-content {
  padding-top: 110px;
  background: #FFFFFF;
  height: calc(100% - 62px);
}

.page-wrap .thanks-content .picture {
  max-width: 160px;
  margin: auto;
}

.page-wrap .thanks-content .picture img {
  max-width: 100%;
}

.page-wrap .thanks-content .text {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #6AAC45;
  max-width: 270px;
  margin: auto;
}

@media screen and (max-width: 350px) {
  .page-wrap .content,
  .page-wrap .form-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */